{% extends 'generico/generico.html' %}

{% block contenido %} 

<div class="container panel panel-default">

	<!--***************************titulo**************-->
	<div class="titulo_pagina row" id="titulo_ingresar_articulo">
		<blockquote class="page-header" style="padding-top:0px;">
			<h5 id="titulo_pagina">Registre un nuevo administrador<small>Usuarios...</small></h5>
		</blockquote>
        
	</div>	
	<!--***************************Final titulo**************-->

	<form method="post" class="">
		{% csrf_token %}
		{{form.as_p}}
		<div class="form-group col-xs-3 col-xs-offset-5">
			<input type="submit"></input>
		</div>
	</form>
</div>

<script type="text/javascript">
	
	$(document).ready(function (){
		$("form p").addClass('form-group col-xs-7 col-xs-offset-3 ');
		$(".errorlist").addClass('form-group col-xs-7 col-xs-offset-3 ');
		$(".errorlist li").addClass('opcion_formulario warning prueba');
		$("label").addClass('opcion_formulario');
		$("input").addClass('form-control');
	});
</script>

<style type="text/css">
	.prueba{
		background-color: #f2dede;
		border-top: 1px solid #ddd;
	}
</style>

{% endblock %}
